*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background: linear-gradient(45deg, rgb(59,50,50), rgb(22,28,29));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.weatherForecast {
    display: grid;
    grid-template-areas: 
    "current current current current current current"
    "current current current current current current"
    "day1 day2 day3 day4 day5 change";
    position: absolute;
    left : 20px;
    bottom: 20px;
}

.currentWeather {
    grid-area: current;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-areas: 
    "temp"
    "weather"
    "city";
}


.bigIcon img{
    width: 80%;
    height: 80%;
    margin: auto;
}

.cell {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 25px;
}

.bigTemp,
.bigWeather {
    font-weight: bold;
}

.fullscreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.fullscreen video {
    margin:auto;
}
.forecastDay { 
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
}